.title {
  /* Title style here */
  color: black;
  padding: 10%;
}

.inputField {
  padding: 1%;
}

.loginLink {
  text-align: center;
  margin-block-start: 0%;
  margin-block-end: 0%;
}
