.title {
  /* Title style here */
  color: black;
  padding: 10%;
}

.inputField {
  padding: 1%;
}

.loginLink {
  text-align: center;
  margin-block-start: 0%;
  margin-block-end: 0%;
}

.login {
  padding: 8%;
  padding-bottom: 0%;
  color: white;
}

.loginButton {
  margin: auto;
  width: 75%;
}

.invalidCred {
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
