<ion-content fullscreen>
  <form #form="ngForm" (submit)="onSubmit(form)">
    <ion-toolbar>
      <ion-button slot="start" fill="clear" routerLink="/calendar">
        <ion-icon size="small" name="arrow-back"></ion-icon>
      </ion-button>

      <ion-title>New Event</ion-title>

      <ion-button slot="end" fill="clear" type="submit">
        <ion-label>Add</ion-label>
      </ion-button>
    </ion-toolbar>

    <ion-list>
      <ion-item>
        <ion-input
          name="title"
          type="text"
          placeholder="Title"
          ngModel
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          name="location"
          type="text"
          placeholder="Location"
          ngModel
        ></ion-input>
      </ion-item>
      <ion-item-divider></ion-item-divider>
      <ion-item>
        <ion-label>Start Date</ion-label>
        <ion-datetime
          value="2019-01-01"
          placeholder="Select Date"
          (ionChange)="startDateChanged($event)"
        ></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Start Time</ion-label>
        <ion-datetime
          display-format="h:mm A"
          picker-format="h:mm A"
          value="2019-01-01T00:00Z"
          (ionChange)="startTimeChanged($event)"
        ></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Ends</ion-label>
        <ion-datetime
          value="2019-01-02"
          placeholder="Select Date"
          (ionChange)="endDateChanged($event)"
        ></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>End Time</ion-label>
        <ion-datetime
          display-format="h:mm A"
          picker-format="h:mm A"
          value="2019-01-02T00:00Z"
          (ionChange)="endTimeChanged($event)"
        ></ion-datetime>
      </ion-item>
      <ion-item-divider></ion-item-divider>
      <ion-item>
        <ion-label>Add to reminders?</ion-label>
        <ion-toggle name="reminders" ngModel="false"></ion-toggle>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
