.title {
  /* Title style here */
  color: black;
  padding: 10%;
}

.inputField {
  padding: 1%;
}

.register {
  padding: 8%;
  padding-bottom: 0%;
  color: white;
}

.registerButton {
  margin: auto;
  width: 75%;
}
